body {

    background-image: url("../images/darkness.png");
    
} 

h1 {

    font-family: 'Shrikhand', cursive;
    font-size: 100px;
    color: #ff0080;

}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    color: #ff0080;
}

.maincontent {
        max-width: 960px;
        margin: auto;
        margin-top: 100px; 
        line-height: 1.5;
        color: black;
        height: auto;
        background-color: white;
        padding: 10px;
        border-style: solid;
        border-width: 5px;
        
    }


